.bd-main .bd-content .bd-article-container {
    max-width: 100%;  /* default is 60em */
}

.bd-sidebar {
    width: 15%;
}

/* bd-sidebar breakpoint for phone screens */
@media (max-width: 767px) {
    .bd-sidebar {
        width: unset;
    }
}